<form method="post" id="selection-form">
    {% csrf_token %}
    <label for="form_type">Choose item type:</label>
    <select id="form_type" name="form_type">
      <option value="">-- Select --</option>
      <option value="perish">Perishable</option>
      <option value="non-perish">Non-Perishable</option>
    </select>
  </form>
  
  <div id="form-container">

  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $('#form_type').change(function() {
      var selectedForm = $(this).val();
      if (selectedForm) {
        $.ajax({
          url: "{% url 'load_form' %}",
          data: {
            'form_type': selectedForm
          },
          success: function(data) {
            $('#form-container').html(data.html);
          }
        });
      } else {
        $('#form-container').html('');
      }
    });
  </script>
  