<!-- create_item.html -->
<!DOCTYPE html>
<body>
    
    <hr>
    <h2>Inventory List</h2>
    <ul>
        {% for item in items %}
        <li>
            {{ item.name }} 
            {{ item.count}}
            <form method="POST" action="{% url 'delete_item' item.id %}" style="display:inline;">
                {% csrf_token %}
                {% if is_admin %}
                    <button type="submit">Delete</button>
                {% endif %}
            </form>
        </li>
        {% empty %}
        <li>No items found.</li>
        {% endfor %}
    </ul>
    {% if is_admin %}
        <a href="{% url 'create_item' %}">Create a new item</a>
    {% endif %}
</body>
</html>
