{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <ul class="options">
        <li><a href="{% url 'manage_users' %}">Manage User Accounts</a></li>
        <li><a href="{% url 'inventory_page' %}">Manage Inventory</a></li>
    </ul>
</body>
</html>